<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sct.meiye.mapper.NoticeMapper">
    
    <resultMap type="Notice" id="NoticeResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="isShow"    column="is_show"    />
    </resultMap>

    <sql id="selectNoticeVo">
        select id, content, is_show from notice
    </sql>

    <select id="selectNoticeList" parameterType="Notice" resultMap="NoticeResult">
        <include refid="selectNoticeVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
        </where>
    </select>
    
    <select id="selectNoticeById" parameterType="Long" resultMap="NoticeResult">
        <include refid="selectNoticeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNotice" parameterType="Notice" useGeneratedKeys="true" keyProperty="id">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="isShow != null">is_show,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="isShow != null">#{isShow},</if>
         </trim>
    </insert>

    <update id="updateNotice" parameterType="Notice">
        update notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="isShow != null">is_show = #{isShow},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNoticeById" parameterType="Long">
        delete from notice where id = #{id}
    </delete>

    <delete id="deleteNoticeByIds" parameterType="String">
        delete from notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>